/bin
/build
__pycache__
.mypy_cache
*.html
*.txt
*.png
!media/*.png
addon_settings.json
internal_data/html/alac
internal_data/html/quick
internal_data/html/dps
!data/img/-1000.png
!internal_data/html/build_metadata.json
